/* App.css */

.homepage {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f0ea;
  }
  
  .homepage > header {
    background-color: hsl(188, 49%, 54%);
    text-align: center;
    color: #fff;
    padding: 0px;
  }
  
  .homepage > h1 {
    margin: 0;
    text-align: center;
  }
  
  .homepage > h3 {
    margin: 0;
    color: blue;
  }
  
  .homepage > nav {
    background-color: rgb(235, 192, 113);
    color: #fff;
    padding: 10px;
  }
  
  .homepage > nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .homepage > nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  .homepage > nav ul li a {
    color: black;
    text-decoration: solid;
    padding: 5px;
  }
  
  .homepage > #xyz {
    color: black;
  }
  
  .homepage > .submitbutton input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 2px;
    cursor: pointer;
  }
  
  .homepage > .submitbutton input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .homepage > .row {
    background-color: #febc40;
    color: red;
  }
  
  .homepage > .address1 {
    font-size: small;
    background-color: white;
  }
  
  /* Create two equal columns that float next to each other */
  .homepage > .column {
    float: left;
    width: 100%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .homepage > .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .homepage > .fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
  }
  
  .homepage > .fa:hover {
    color: darkblue;
  }
  