
.homepage {
  font-family: Arial, sans-serif;
  
  margin: 0;
  padding: 0;
  background-color: #f2f0ea;
  height: 100vh; 
  overflow: hidden; 
  position: relative; 
}

.homepage header {
  background-color: hsl(188, 49%, 54%);
  text-align: center;
  color: #fff;
  padding: 20px 0; 
}

.homepage h1 {
  margin: 0;
  text-align: center;
  font-size: 24px; 
}

.homepage h3 {
  margin: 0;
  color: blue;
}

/* Navbar styles */
.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  font-size: 24px;
}

.navbar-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  margin-right: 20px;
}

.navbar-list a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar-list a:hover {
  color: #007bff;
}

/* Responsive Navbar */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-list {
    margin-top: 10px;
  }

  .navbar-list li {
    margin: 5px 0;
  }
}


.homepage #xyz {
  color: black;
}

.homepage .submitbutton input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px; /* Increase padding */
  cursor: pointer;
}

.homepage .submitbutton input[type="submit"]:hover {
  background-color: #45a049;
}

.homepage .row {
  background-color: #febc40;
  color: red;
}

.homepage .address1 {
  font-size: small;
  background-color: white;
}

.homepage .column {
  float: left;
  width: 100%;
  padding: 10px;
}

.homepage .row:after {
  content: "";
  display: table;
  clear: both;
}

.homepage .fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.homepage .fa:hover {
  color: darkblue;
}

/* Logo styling */
.homepage img {
  width: 100px; /* Adjust the logo width */
  height: auto; /* Maintain aspect ratio */
  position: absolute; /* Position the logo */
  top: 20px; /* Adjust top position */
  left: 20px; /* Adjust left position */
}
